body
{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.image-recognition 
{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.image-recognition-body
{
    position: relative;
    width: 50%;
    height: 720px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.header
{
    position: relative;
    width: 100%;
    height: 10%;
/*    background-color: burlywood;*/
    color: white;
    margin: 0px;
/*    display: inline-block;*/
}

.app-logo-div{
    position: relative;
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center; /* center horizontally */
	align-items: center;  /*center vertically*/ 
    float: left;
}

.search-bar-div{
    position: relative;
    width: 50%;
    height: 35%;
    display: flex;
    justify-content: center; /* center horizontally */
	align-items: center;  /*center vertically*/ 
    float: left;
}

.search-bar{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.imageCanvas
{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: lightgray;
    display: inline-block;
    margin: 0px;
}

.canvas-area
{
    position: relative
    width: 100%;
    height: 90%;
/*    background-color: aqua;*/
    padding: 0px;
    justify-content: center; /* center horizontally */
	align-items: center; /* center vertically */
    display: flex;
}

.mainCanvas
{
    position: relative;
    display: block;
    margin: auto;
/*    background-color: yellow;*/
}

.ir-results
{
    position: absolute;
    width: 50%;
    height: 100%;
/*    background-color: lightcyan;*/
    display: inline-block;
}

.results-container{
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-template-rows: repeat(auto-fill, 250px);
    grid-row-gap: 10px;
    grid-column-gap: 15px;
/*    background-color: blueviolet;*/
    padding: 15px;
}

.result
{
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color: aliceblue;
}

.result-img
{
    width: 200px;
    height: 200px;
}

.img-meta-data{
    width: 200px;
    height: 50px;
/*    background-color: darkcyan;*/
    color: black;
}

#recognize-button
{
    width: 100%;
    height: 5%;
}